/* CSS Variables */

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #484bbf;
  --slate: #434455;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

/* General Elements */

.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
  text-decoration: none;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.studio {
  color: var(--navyblue);
  margin-right: 76px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-menu {
  margin-left: 332px;
  display: flex;
  gap: 40px;
}

.bg-hero {
  background-color: var(--navyblue);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.nav-menu .page {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.hero-container {
  text-align: center;
  padding-top: 188px;
}

.hero-title {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.section .benefits {
  display: flex;
  padding-left: 156px;
  gap: 24px;
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

.list.what-we-do {
  display: flex;
  padding-left: 156px;
  gap: 24px;
}

.team {
  display: flex;
  padding-left: 156px;
  gap: 24px;
}

.bg-team {
  background-color: var(--cloud);
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02;
  color: var(--navyblue);
  text-align: center;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.container-footer {
  padding-top: 101.5px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.button {
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.03em;
}

.button.primary {
  color: white;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-flex;
  padding: 16px 32px;
  border-radius: 4px;
  align-items: flex-start;
  gap: 10px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project-type {
  color: var(slate);
  font-weight: 400;
  line-height: 1.87;
}

.project {
  text-decoration: none;
}
/* Header Section */

.logo {
  color: var(--iris);
}

.page-header {
  display: flex;
  padding-left: 156px;
}

.page-header-container {
  display: flex;
  padding-top: 25.5px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
