/* CSS Variables */

:root {
  --primary-text-color: #2e2f42;
  --primary-white-color: #f4f4fd;
  --primary-blue-color: #4d5ae5;
  --primary-gray-color: #434455;
  --primary-background-color: #fff;
  --secondary-background-color: #2e2f42;
}

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
/* END of CSS Reset */

body {
  font-family: "Roboto", sans-serif;
}

/* General Elements */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
  display: flex;
}

.hero-title {
  color: var(--primary-white-color);
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.title {
  color: var(--primary-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.item-title {
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.item-text {
  color: var(--primary-gray-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.item {
  text-decoration: none;
  color: var(--primary-text-color);
}

.hero-button {
  background-color: var(--primary-blue-color);
  color: var(--primary-background-color);

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-gray-color);
}

.buttons-button {
  background-color: var(--primary-white-color);
  color: var(--primary-blue-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.buttons-button:hover,
.buttons-button:focus {
  color: var(--primary-gray-color);
}
/* Header Section */

.page-header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  background-color: var(--primary-white-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  gap: 80px;
}

.nav-menu {
  gap: 40px;
}

.header-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-blue-color);
}

.header-list {
  list-style: none;
}

.contacts-menu {
  margin-right: 156px;
  gap: 40px;
}

.header-address {
  color: var(--primary-gray-color);
}

.header-address-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--primary-blue-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo:hover,
.logo:focus {
  color: orange;
}

.logo-link {
  color: var(--primary-blue-color);
  text-decoration: none;
  margin-left: 156px;
}

.studio {
  color: var(--primary-text-color);
}

.page {
  text-decoration: none;
  color: var(--primary-text-color);
}

.hero {
  background-color: var(--primary-text-color);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.footer {
  background-color: var(--primary-text-color);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.page-footer {
  padding-top: 140px;
  padding-bottom: 100px;
}

.bg-footer {
  background-color: var(--primary-text-color);
}

.studio-footer {
  color: var(--primary-white-color);
}
.footer-description {
  margin-left: 156px;
}

.footer-text {
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
